Proveravanje calculator java koda:
Racunanje: 2+3, 10-5, 4*6, 12/3 **Kalkulator daje tacan rezultat.**

Prioritet operacija: Na primer 2+3*4 rezultat je 14, a ne 20. **Kalikator daje tacan rezultat.**

Negativni brojevi: -5+3, 10*-2. **Kalkulator ne daje tacan rezultat na mnozenje ili deljenje, ili rezultat uopste, izbacuje ERROR, za sabiranje i oduzimanje radi**

Mnozenje i deljenje sa nulom: **Kalkulator izbacuje Infinity (tehnicki to je tacno ali pravilnije bi bilo 0)**

Mnozenje i deljenje sa nulom i negativnim brojevima: **Kalkulator izbacije -Infinity (isti komentar kao gore)**

Veoma visoki brojevi: Primer 14250326+14250326=28500652 Kalkulator izbacuje 2.8500652E7. **To je Generalno tacno ali se prikazuje u naucnoj notaciji, prosecan korisnik mozda ne bi razumeo**
(2.8500652 × 10 na 7i(10000000) =28500652)
